<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"id="navbarToggler">
      <div class="navbar-nav">
        <a class="nav-link nav-item" href="#">Recipes</a>
        <a class="nav-link nav-item" href="#">Shopping List</a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Save Data</a>
            <a class="dropdown-item" href="#">Fetch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Ciel d&apos;Ard&egrave;che</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler" #menu>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Bienvenue <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rooms" routerLinkActive="active">Nos Chambres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservations" routerLinkActive="active">R&eacute;servations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ardeche" routerLinkActive="active">Ard&egrave;che</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Nous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workaway" routerLinkActive="active">Workaway</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Languages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">🇫🇷 Fran&ccedil;ais</a>
          <a class="dropdown-item" href="#">🇺🇸 English</a>
          <a class="dropdown-item" href="#">🇩🇪 Deutsche</a>
          <a class="dropdown-item" href="#">🇪🇸 Espa&ntilde;ol</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->
